@keyframes disappearRotation {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  10% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) scale(0.3) rotate(300deg);
    opacity: 0;
  }
}

@keyframes appearRotation {
  0% {
    transform: translate(-50%, -50%) scale(0.3) rotate(300deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeIn {
  0% {
    rotate: 90deg;
    scale: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    rotate: 90deg;
    // scale: 0.2;
    opacity: 0;
  }
}
