:root {
  --color-login-primary: #f39237;
  --color-login-secondary: #bf1363;
  
  --color-baby-powder: #fbfef9;
  --color-star-command-blue: #0e79b2;
  --color-rgba-star-command-blue: 14, 121, 178;



  --color-red-salsa: #F05D5E;
  --color-skobeloff: #0F7173;
  --color-alice-blue: #E7ECEF;
  --color-raisin-black: #191923;
  --color-tumbleweed: #D8A47F;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 1157px){
    font-size: 50%;
  }
}

body {
  &#login,
  &#register,
  &#profile {
    // Login page
    background-image: linear-gradient(
      to bottom,
      var(--color-red-salsa),
      var(--color-skobeloff)
    );
  }

  &#main {
    background-color: var(--color-alice-blue);

  }

  padding: 3rem 3rem;
  color: var(--color-raisin-black);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  min-width: 100vw;

  &#main {
    padding: 3rem 3rem 3rem 9rem;

    @media only screen and (max-width:390px){
      padding: 2rem 2rem 2rem 4.9rem;
    }
    
  }
}
