:root {
  --color-login-primary: #f39237;
  --color-login-secondary: #bf1363;
  --color-raisin-black: #191923;
  --color-baby-powder: #fbfef9;
  --color-star-command-blue: #0e79b2;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  &#login,
  &#register,
  &#main {
    // Login page
    background-image: linear-gradient(
      to bottom,
      var(--color-login-primary),
      var(--color-login-secondary)
    );
  }

  padding: 1rem 6rem;
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}
