/// ///// ///// ///// ///// ///// ///// ///// //
/// // login // registration form
/// ///// ///// ///// ///// ///// ///// ///// //

.form {
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // text-align: center;
    background-color: white;
    padding: 3rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    min-height: 40vh;
    background-color: var(--color-baby-powder);
    color: var(--color-raisin-black);

    & > h1 {
      // login title
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    position: relative;

    & > label {
      font-size: 1.6rem;
      position: absolute;
      left: 0;
      pointer-events: none;
      padding: 1rem 0;
      transition: all 0.5s;
    }
    & > input {
      width: 100%;
      padding: 10px 0;
      font-size: 1.6rem;
      color: var(--color-raisin-black);
      margin-bottom: 3rem;
      border: none;
      border-bottom: 1px solid var(--color-raisin-black);
      outline: none;
      background: transparent;

      &:focus ~ label,
      &:valid ~ label {
        transform: translateY(-20px);
        font-size: 1rem;
        color: var(--color-star-command-blue);
      }
    }
  }

  &__button {
    font-size: 1.6rem;
    margin: 1.5rem;
    border: none;
    padding: 1.5rem;
    border-radius: 8px;
    width: 60%;
    cursor: pointer;
  }

  &__link {
    &:visited,
    &:link {
      font-size: 2rem;
      text-decoration: none;
      color: var(--color-star-command-blue);
      margin-top: 2rem;
    }
  }
}

/// ///// ///// ///// ///// ///// ///// ///// //
/// // add icon
/// ///// ///// ///// ///// ///// ///// ///// //

.add-icon {
  &__container {
    grid-row: 7 / 8;
    grid-column: 6 / 7;
    width: 100%;
    height: 100%;
    position: relative;
  }

  position: absolute;
  opacity: 1;
  left: calc(100% + (var(--gutter) / 2));
  top: 100%;
  background-color: white;
  border: 2px solid white;
  color: var(--color-raisin-black);
  display: inline-block;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  cursor: pointer;
  transform-origin: center;
  z-index: 10;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: 2px solid black;

    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--animation-show {
    animation: appearRotation 0.5s cubic-bezier(1, 0.14, 0.68, 1.04);
    animation-fill-mode: forwards;
  }

  &--animation-hide {
    animation: disappearRotation 0.5s cubic-bezier(1, 0.14, 0.68, 1.04);
    animation-fill-mode: forwards;
  }
}

/// ///// ///// ///// ///// ///// ///// ///// //
/// // hello
/// ///// ///// ///// ///// ///// ///// ///// //

.hello {
  font-family: "Fauna One", serif;
  text-transform: capitalize;
  font-size: 6rem;

  &__container{
    display: inline-block;
    position: absolute;
    left: 12rem;

    @media only screen and (max-width: 900px){
      position: static;
      display: block;
      margin-left: 2rem;
    }
  }
}

/// ///// ///// ///// ///// ///// ///// ///// //
/// // side-nav
/// ///// ///// ///// ///// ///// ///// ///// //

.sidenav {

  &__container {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    list-style: none;
    background-color: var(--color-skobeloff);
    padding: 0 2rem;

    @media only screen and (max-width:500px){
      padding: 0 0.3rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding: 5px;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    transition: all 0.3s;

    @media only screen and (max-width:500px){
      height: 4.5rem;
      width: 4.5rem;
    }

    & > img {
      height: 3rem;
      width: 3rem;


    }

    &--active,
    &:hover {
      background-color: var(--color-raisin-black);

      & > img {
        // https://codepen.io/sosuke/pen/Pjoqqp
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg)
          brightness(105%) contrast(105%);
      }
    }
  }
}

/// ///// ///// ///// ///// ///// ///// ///// //
/// // add-food
/// ///// ///// ///// ///// ///// ///// ///// //

.add-food{
  &__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 3rem;
    margin: 15rem auto;

    @media only screen and (max-width: 900px) {
      padding: 2rem;
      margin: 0rem;
    }

    @media only screen and (max-width: 400px) {
      padding: 0rem;
      margin: 0rem 2rem;
    }
  }

  &--panel{
    display: flex;
    flex-direction: row;
    background-color: var(--color-tumbleweed);
    padding: 3rem 2rem;
    border-radius: 20px;
    min-height: 45rem;

    @media only screen and (max-width:460px){
      flex-direction: column-reverse;
    }
  }

  &--left{

  }

  &__btn{
    width: 20rem;
    border: none;
    padding: 1.5rem;
    border-radius: 8px;
    width: 10rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--color-red-salsa);
    color: var(--color-alice-blue);
    transition: all 0.1s;

    &:hover{
      transform: scale(1.1);
    }
  }

  &--right{
    margin: 3rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__search{
    position: relative;
    margin-bottom: 38rem;
  }

  &__stats{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    align-items: center;
    justify-content: center;

    &__display-container{
      &:not(:last-child){
        margin-right: 5rem;
      }
    }

    & input{
      outline: none;
      background: transparent;
      border: none;
      // padding: 2rem;
      font-size: 2rem;
      width: 6rem;
    }
  }

  &__cals{
    color: var(--color-red-salsa);
    font-weight: 600;
    
  }

  &__protein{
    color: var(--color-red-salsa);
    font-weight: 600;
  }

  &__form-right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img{
    width: 100%;
    height: 100%;
    
    border: 2px solid var(--color-red-salsa);
    border: 0;
    outline: none;

    &-container{
      position: relative;
      width: 20rem;
      height: 20rem;
      margin: 2rem;

      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        // background-color: var(--color-skobeloff);
        border: 2px solid var(--color-skobeloff);
      }
    }
    
  }

  &__add{

  }

  &__form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    @media only screen and (max-width: 900px){
      flex-direction: column;
      align-items: center;
    }


    & > input{ 
      font-size: 2rem;
      width: 7rem
    }
  }

  &__name{
    color: var(--color-red-salsa);
    font-size: 1.6rem;
  }

  &__unit{
    color: var(--color-raisin-black);
    display: block;
    position: relative;
    // border-bottom: 1px solid #333;
    // border: none;

    & input[type=radio]{
      position: absolute;
      visibility: hidden;
    }

    & label{
      display: block;
      position: relative;
      font-weight: 300;
      font-size: 1.35em;
      padding: 1rem 1rem 1rem 8rem;
      z-index: 9;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
    }

    &:hover label{
      color: #FFFFFF;
    }

    & .check{
      display: block;
      position: absolute;
      border: 5px solid var(--color-raisin-black);
      border-radius: 100%;
      height: 20px;
      width: 20px;
      top: 50%;
      right: 45px;
      transform: translateY(-50%);
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
    }

    &:hover .check {
      border: 5px solid var(--color-alice-blue);
    }
    
    & .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 8px;
      width: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }
    
    input[type=radio]:checked ~ .check {
      border: 5px solid var(--color-red-salsa);
    }
    
    input[type=radio]:checked ~ .check::before{
      background: var(--color-red-salsa);
    }
    
    input[type=radio]:checked ~ label{
      color: var(--color-red-salsa);
    }
  }

  &__units{
    border: none;

    & legend{
      font-size: 1.6rem;

    }
  }

  &__amount{
    background: transparent;
    outline: none;
    border: none;
    font-size: 4rem;
    width: 20rem;
    background-color: var(--color-alice-blue);
    border-radius: 10px;
    text-align: center;

    @media only screen and (max-width: 370px) {
      padding: 1rem;
      width: 10rem;
      font-size: 2rem;
    }
  }

  &__amount-container{
    display: flex;
    flex-direction: row;
    margin: 0 3rem 3rem 3rem;
    background-color: var(--color-tumbleweed);
    border-radius: 20px;
    padding: 3rem 2rem;

    @media only screen and (max-width: 900px){
      margin: 3rem 0;
    }
  }
}

/// ///// ///// ///// ///// ///// ///// ///// //
/// // food-search
/// ///// ///// ///// ///// ///// ///// ///// //

.food-search{
  position: relative;
  // display: none;

  &__input{
    margin-bottom: 0 !important;
  }

  &__tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.6rem;

    & > *:hover{
      background-color: lightblue;
      cursor: pointer;
    }
  }

  &__tab{
    width: 50%;
    text-align: center;
    &__common{

    }
    &__branded{

    }
  }

  &__results{
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    background-color: var(--color-alice-blue);
    padding: 1rem;
    border-radius: 12px;

    &--hidden{
      display: none;
    }
  }

  &__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover{
      background-color: lightblue;
    }

    &__img{
      width: 3rem;
      max-height: 3rem;
      display: inline-block;
    }

    &__text{
      display: inline-block;
      font-size: 2rem;
      font-weight: 200;
      margin-left: 1rem;
    }
  }
}

/// ///// ///// ///// ///// ///// ///// ///// //
/// // displays
/// ///// ///// ///// ///// ///// ///// ///// //

.date{
  &__container{
    display: block;
    font-size: 2rem;
    margin-top: 0;
    font-family: "Fauna One", serif;
  }
}

.page-content{
  display: inline-block;
  margin-left: 3rem;
  min-height: 90vh;
  min-width: 100%;
  margin-left: 0rem;
  border-radius: 20px;
}

.display{
  &-intake__container{
    position: absolute;
    right: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-red-salsa);
    background-color: var(--color-tumbleweed);
    border-radius: 20px;
    padding: 3rem 2rem;
    width: 30rem;

    & > div:not(:last-child){
      margin-right: 5rem;
    }

    @media only screen and (max-width: 900px){
      position: static;
      margin: 2rem;
    }
  }

  &-protein{
    
  }
  &-calories{

  }
}