.link {
  &:link,
  &:visited,
  &:active {
    text-decoration: none;
    // color: var(--color-raisin-black);
  }
}

.user-link {
  color: var(--color-login-primary);
}

.stat-icon{
  width: 5rem;
}

.metric{
  font-size: 1.5rem;
  font-weight: 300;
}

.red-salsa{
  color: var(--color-red-salsa) !important;
}