<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script defer src="script.js"></script>
  <title>Login</title>
</head>
<body>
  <h1>Login:</h1>
  <div class="login-keyed-numbers">
    <div class="login-keyed__number login-keyed__number--1">_</div>
    <div class="login-keyed__number login-keyed__number--2">_</div>
    <div class="login-keyed__number login-keyed__number--3">_</div>
    <div class="login-keyed__number login-keyed__number--4">_</div>
  </div>

  <div class="login-input__keys">
    <form action="POST"></form>
    <button class="login-input__key login-input__key--1" data-value="1">1</button>
    <button class="login-input__key login-input__key--2" data-value="2">2</button>
    <button class="login-input__key login-input__key--3" data-value="3">3</button>
    <button class="login-input__key login-input__key--4" data-value="4">4</button>
    <button class="login-input__key login-input__key--5" data-value="5">5</button>
    <button class="login-input__key login-input__key--6" data-value="6">6</button>
    <button class="login-input__key login-input__key--7" data-value="7">7</button>
    <button class="login-input__key login-input__key--8" data-value="8">8</button>
    <button class="login-input__key login-input__key--9" data-value="9">9</button>
    <button class="login-input__key login-input__key--0" data-value="9">0</button>
    <button class="login-input__key login-input__key--clear">clear</button>
  </div>
</body>
</html>