<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Login</title>
</head>
<body id="login">
  <div class="login__container">
    <h1>Login</h1>
    <% if (messages.error) { %>
      <%= messages.error %>
    <% } %>
    <form class="login__form" action="/login" method="post">
      <div class="login__input login__email">
          <input id="email" name="email" type="email" required />
          <label for="email">Email</label>
      </div>
      <div class="login__input login__password">
          <input id="password" name="password" type="password" required />
          <label for="password">Password</label>
      </div>
      <button class="login__button" type="submit">Sign in</button>
    </form>
    <a class="login__register" href="/register">Register</a>
  </div>
</body>
</html>