<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Register</title>
</head>
<body id="register">
  <div class="form__container">
    <h1>Register</h1>
    <% if (messages.error) { %>
      <h3><%= messages.error %></h3>
    <% } %>
    <form class="form__inputs" action="/register" method="post">
      <div class="form__input">
        <input id="firstname" name="firstname" type="text" required />
        <label for="firstname">Firstname</label>
      </div>
      <div class="form__input">
        <input id="lastname" name="lastname" type="text" required />
        <label for="lastname">Lastname</label>
      </div>
      <div class="form__input form__email">
          <input id="email" name="email" type="email" required />
          <label for="email">Email</label>
      </div>
      <div class="form__input form__password">
          <input id="password" name="password" type="password" required />
          <label for="password">Password</label>
      </div>
      <button class="form__button" type="submit">Register</button>
    </form>
  </div>
</body>
</html>